* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url(' /FondoDark.png');
  background-repeat: no-repeat;
  background-size: 100%;  
  background-attachment: fixed;
}
.App {
  text-align: center;
  /*min-height: 100vh;*/
  color: white;
  display: block;
}
.NavBar img {
  width: 80px;
  display: flex;
  justify-content: start;
  padding-top: 11px;
  margin-left: 40px;
  max-width: 100%;
}
.NavBar .pokeCenter{
  width: 40px;
  margin: 0;
  padding-top: 0;
  padding-right: 10px;
}
.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-top: -90px;
}
.NavBar li {
  padding: 3px 40px;
}
.NavBar li:hover {
  margin-top: -3px;
}
.NavBar {
  /*background-color: #332626;*/
  margin-bottom: 20px;
  height: 50px;
  border-bottom: solid white ;
}
.navtext {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.navtext i {
  font-size: 30px;
  padding-right: 20px;
}
.home img {
  max-width: 100%;

}
.home h2 {
  font-size: 30px;

}
.home p {
  font-size: 20px;
}
.pokeLogo{
  width: 44%;
}
.Arbok{
  position: absolute;
  width: 15%;
}
.Weezing{
  position: absolute;
  width: 15%;
  padding-left: 40%;
}
.Wobbuffet{
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
  padding-top: 8%;
}
.Arbok{
  position: absolute;
  width: 15%;
  padding-left: 25%;
  padding-top: 15%;
}
.TeamRocket{
  width: 30%;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form input {
  border-radius: 20px;
  width: 35%;
  min-width: 250px;
  margin-right: 10px;
  height: 35px;
  padding: 0px 15px;
  font-size: 20px;
  background-color: #332626;
  color: white;
  border: solid 1px;
  outline: none;
}
.form button {
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  background-color: #332626;
  color: white;
  border: solid 1px;
  height: 40px;
}
.principalCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.principalCard .header img{
  width: 20%;
}
.principalCard .header h3{
  padding-top: 10px;
}
.pokeCard {
  background: rgba(255,255,255,0.1);
  color: rgb(11, 2, 58);
  max-width: 330px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 60px;
  border-radius: 20px;
  cursor: pointer;
  border: 4px solid rgba(255, 225, 225, 0.5);
  transition: 0.25s;
  filter: drop-shadow(5px 5px 4px #fff );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.pokeCard:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 8px ;
}
.pokeCard img {
  width: 200px;
  max-height: 180px;
  margin-top: -80px;
}
.pokeCard:hover .pok {
  position: relative;
  bottom: 30px;
  left: 10px;
  transition-duration: 5s;
  filter: drop-shadow( 5px 5px 4px black);
}
.pokeCard h2 {
  margin-bottom: 10px;
}
.pokeCard hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.infoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5px 20px;
  margin-top: 10px;
  height: 130px;
}
.infoCard .b2{
  color:rgb(255, 255, 255);
}
.header {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 40px;
  text-align: end;
  margin-left: 20px;
}
.header h2 {
  margin-bottom: 10px;
}
.header p {
  font-weight: 400;
  margin-bottom: 10px;
}
.filter {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: center;
}
.filter input {
  border: solid 1px white;
  border-radius: 10px;
  width: 30%;
  min-width: 200px;
  margin-right: 10px;
  height: 35px;
  padding: 0px 15px;
  font-size: 20px;
  outline: none;
  background-color: #332626;
  color: white;
}
.filter button {
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  font-size: 16px;
}
.pokeInfoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}
.baseInfo {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 120px;
  background: rgba(255,255,255,0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.baseInfo h2 {
  margin-top: 20px;
  font-size: 28px;
}
.baseInfo p {
  font-size: 18px;
}
.baseInfo hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.pokemonPicture {
  margin-top: -120px;
  max-width: 400px;
}
.pokeImage {
  display: flex;
  justify-content: center;
}
.abilities {
  width: 38.8%;
  margin-left: 30px;
  border-radius: 20px;
  margin-right: 10px;
  background: rgba(255,255,255,0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.type {
  width: 38.8%;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 10px;
  background: rgba(255,255,255,0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.abilities h2 {
  margin: 10px;
  font-size: 28px;
}
.abilities hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.type hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.type h2 {
  margin: 10px;
  font-size: 28px;
}
.divition1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.divition1 p {
  margin: 10px 20px;
}
.divition1 .b2 {
  color:rgb(255, 255, 255);
}
.divition2 {
  display: flex;
  justify-content: center;
}
.divition2 p {
  margin: 10px 20px;
  font-size: 18px;
  color:rgb(255, 255, 255);
}
.divition3 {
  display: flex;
  justify-content: center;
}
.divition3 p {
  margin: 10px 20px;
  font-size: 18px;
  color:rgb(255, 255, 255);
}
.goBackButton {
  width: 80%;
}
.goBack {
  margin: 20px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
  font-size: 16px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.superiorPages {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -10px;
}
.pagination {
  display: flex;
}
.pagination button {
  padding: 3px 0px;
  margin: 5px 10px;
  width: 40px;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
}
.pagination input {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  width: 50px;
  border-radius: 10px;
  border: solid 1px;
  background-color: #332626;
  color: white;
}
.pagination p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer img {
  width: 70px;
  position: relative;
}
.footer div {
display: flex;
gap: 130px;
}
.inputSelector {
  margin-bottom: 40px;
}
.selector{
  color: #000000;
  width: 250px;
  display: flex;
  justify-content: center;
}
.selector button {
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  font-size: 16px;
  margin: 0;
  margin-left: 20px;
  height: 40px;
}
.inputSelector {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: center;
}
.principalCardFilter {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagesSuperior {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 80px;
  margin-top: -10px;
}
.pagesInferior {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -80px;
}
.removeFilter button {
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 40px;
  height: 40px;
}
.moves {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background: rgba(255,255,255,0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.pokeMoves hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
  margin-bottom: 10px;
}
.movesContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.pokeMoves h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
}
.pokeMoves p {
  font-size: 18px;
}
button{
  background-color: #332626;
  margin: 10px;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}
.bg-move {
  background-color: #332626;
  margin: 10px;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}
.bg-move:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 8px ;
}

@media (max-width: 500px) { 
  .divition2 p {
    margin: 10px 10px;
    font-size: 14px;
  }
  .divition3 p {
    margin: 10px 10px;
    font-size: 14px;
  }
  .pokemonPicture {
    margin-top: -120px;
    max-width: 300px;
  }
 }