* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Pokemon Solid";
  src: url("../public/fonts/Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("/FondoDark.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.App {
  text-align: center;
  color: white;
  display: block;
}
.NavBar .pinRocket:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
.NavBar img {
  width: 60px;
  display: flex;
  justify-content: start;
  padding-top: 11px;
  margin-left: 40px;
  max-width: 100%;
}
.NavBar .pokeCenter {
  width: 50px;
  margin-top: 40px;
  margin-right: 30px;
  padding-top: 0;
}
.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-top: -90px;
  margin-right: 50px;
}
.NavBar li:hover {
  margin-top: -5px;
}
.NavBar {
  margin-bottom: 20px;
  height: 50px;
}
.navtext {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.navtext i {
  font-size: 30px;
  padding-right: 20px;
}
.home {
  position: relative;
}
.homePokedex {
  position: absolute;
  top: 20px;
  width: 100%;
}
.homeTeamRocket {
  position: absolute;
  top: 100px;
  width: 100%;
}
.home img {
  max-width: 100%;
}
.home h2 {
  font-size: 30px;
  font-family: "Pokemon Solid";
  text-shadow: -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
    2px 2px 0 black, -3px -3px 0 black, -3px 3px 0 black, 3px -3px 0 black,
    3px 3px 0 black;
  -webkit-text-fill-color: white; /* Color del texto Home */
  margin-top: 20px;
  margin-bottom: -40px;
  letter-spacing: 3px;
}
.home p {
  font-size: 20px;
  font-family: "Pokemon Solid";
  text-shadow: -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
    2px 2px 0 black, -3px -3px 0 black, -3px 3px 0 black, 3px -3px 0 black,
    3px 3px 0 black;
  -webkit-text-fill-color: white; /* Color del texto  Home*/
  letter-spacing: 3px;
}
.Weezing {
  position: absolute;
  width: 14%;
  padding-left: 28%;
}
.Wobbuffet {
  position: absolute;
  width: 15%;
  display: flex;
  justify-content: flex-start;
  padding-left: 19%;
  padding-top: 8%;
}
.Arbok {
  position: absolute;
  width: 12%;
  padding-left: 25%;
  padding-top: 13.5%;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}
.TeamRocket {
  width: 20%;
}
.NintendoSwitch {
  width: 35%;
  /*padding-top: 5%;*/
  position: absolute;
  display: flex;
  padding-left: 32.4%;
  z-index: -1;
}
.Pokedex {
  width: 25%;
  margin-top: -50px;
}
.form {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 7px;
}
.form input {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  border-radius: 20px;
  width: 15%;
  min-width: 250px;
  margin-right: 10px;
  height: 25px;
  padding: 0px 0px 5px 15px;
  font-size: 15px;
  outline: none;
  background-color: #281f1f00;
  color: white; /* Color del input Home */
  border: none;
  border-bottom: solid 2px rgba(189, 21, 139, 0.58);
  -webkit-text-stroke: 1px black;
}
.form button {
  cursor: pointer;
  border: none;
  border-style: none;
  padding-top: 0px;
  background-color: transparent;
  height: 50%;
  width: 5%;
  min-width: 80px;
  animation: shake 1s linear infinite;
}
.footer img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
@keyframes shake {
  50% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.buttonGo {
  display: flex;
  align-items: center;
  margin-left: 47%;
  margin-top: 30px;
  margin-bottom: -20px;
}
.imageGo {
  width: 140%;
}
.principalCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header img {
  width: 20%;
  padding-top: 20px;
  margin-bottom: -30px;
}
.header h3 {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
    2px 2px 0 black, -3px -3px 0 black, -3px 3px 0 black, 3px -3px 0 black,
    3px 3px 0 black;
  -webkit-text-fill-color: white; /* Color del texto  Pokedex*/
  padding-top: 10px;
}
.pokeCard {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(109, 106, 106, 0.498);
  max-width: 200px;
  width: 100%;
  /*max-height: 314px;
  height: 100%;*/
  padding: 20px;
  margin: 20px;
  margin-bottom: 60px;
  border-radius: 20px;
  cursor: pointer;
  border: 4px solid rgba(255, 225, 225, 0.5);
  transition: 0.25s;
  filter: drop-shadow(5px 5px 4px #fff);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.pokeCard:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 8px;
}
.namePokemon {
  font-family: "Pokemon Solid";
  letter-spacing: 3px;
  font-size: 20px;
  text-shadow: -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black,
    2px 2px 0 black, -3px -3px 0 black, -3px 3px 0 black, 3px -3px 0 black,
    3px 3px 0 black;
  -webkit-text-fill-color: white; /* Color del texto  Pokecard*/
  margin-top: -25px;
}
.pokeColors {
  background-color: #2e322a50;
}
.pokeColors.fighting {
  background-color: #a52a2a54;
}
.pokeColors.flying {
  background-color: #87cfeb4f;
}
.pokeColors.poison {
  background-color: #9400d352;
}
.pokeColors.ground {
  background-color: #8b451353;
}
.pokeColors.rock {
  background-color: #3a130253;
}
.pokeColors.bug {
  background-color: #9acc5050;
}
.pokeColors.ghost {
  background-color: #4c008254;
}
.pokeColors.steel {
  background-color: #1c1c1c83;
}
.pokeColors.fire {
  background-color: #ff583351;
}
.pokeColors.water {
  background-color: #3498db52;
}
.pokeColors.grass {
  background-color: #32cd3252;
}
.pokeColors.electric {
  background-color: #f1c40f50;
}
.pokeColors.psychic {
  background-color: #ff149152;
}
.pokeCColors.ice {
  background-color: #add8e653;
}
.pokeColors.dragon {
  background-color: #ff8c004f;
}
.pokeColors.dark {
  background-color: #2f4f4f50;
}
.pokeColors.fairy {
  background-color: #ee82ee50;
}

.pokeColorsText {
  color: #2e322a50;
}
.pokeColorsText.fighting {
  color: #a52a2a54;
}
.pokeColorsText.flying {
  color: #87cfeb4f;
}
.pokeColorsText.poison {
  color: #9400d352;
}
.pokeColorsText.ground {
  color: #8b451353;
}
.pokeColorsText.rock {
  color: #3a130253;
}
.pokeColorsText.bug {
  color: #9acc5050;
}
.pokeColorsText.ghost {
  color: #4c008254;
}
.pokeColorsText.steel {
  color: #1c1c1c83;
}
.pokeColorsText.fire {
  color: #ff583351;
}
.pokeColorsText.water {
  color: #3498db52;
}
.pokeColorsText.grass {
  color: #32cd3252;
}
.pokeColorsText.electric {
  color: #f1c40f50;
}
.pokeColorsText.psychic {
  color: #ff149152;
}
.pokeCColorsText.ice {
  color: #add8e653;
}
.pokeColorsText.dragon {
  color: #ff8c004f;
}
.pokeColorsText.dark {
  color: #2f4f4f50;
}
.pokeColorsText.fairy {
  color: #ee82ee50;
}
.pokeCard img {
  width: 200px;
  max-height: 180px;
  margin-top: -80px;
}
.pokeCard .pokemon {
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.5s ease-out;
  filter: drop-shadow(5px 5px 4px black);
}
.pokeCard:hover .pokemon {
  left: 20px;
  top: -30px;
}
.pokeCard:active .pokemon {
  left: 10px;
  top: -5px;
  transition: none;
}
.pokeCard .pokeRocket {
  position: relative;
  left: 90px;
  width: 35px;
  height: 25px;
  top: -20px;
  margin-bottom: -25px;
  z-index: 1;
}
.pokeCard .pokeRocket {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokeCard h2 {
  margin-bottom: 10px;
}
.pokeCard hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.infoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5px 20px;
  margin-top: 10px;
  height: 130px;
  font-family: "Pokemon Solid";
  letter-spacing: 3px;
  font-size: 13px;
  -webkit-text-stroke: 0.5px black;
}
.pokemonId {
  font-family: "Pokemon Solid";
  letter-spacing: 3px;
  font-size: 15px;
  -webkit-text-stroke: 0.5px black;
  margin-top: -20px;
  margin-bottom: 0 !important;
}
.upButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.divUpButtonFilter {
  padding-top: 90px;
  margin-bottom: -100px;
}
.upButtonFilter {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.pokedexHand {
  margin-top: 25px;
}
.infoCard p {
  line-height: 1.6;
}
.infoCard .b2 {
  color: rgb(255, 255, 255);
}
.header {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 40px;
  text-align: end;
  margin-left: 20px;
}
.header h2 {
  margin-bottom: 10px;
}
.header p {
  font-weight: 400;
  margin-bottom: 10px;
}
.filter {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: center;
}
.filter input {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  border-radius: 10px;
  width: 30%;
  min-width: 200px;
  margin-right: 10px;
  height: 30px;
  padding: 0px 0px 5px 15px;
  font-size: 15px;
  outline: none;
  background-color: #281f1f00;
  color: white; /* Color del input Home */
  border: none;
  border-bottom: solid 2px rgba(189, 21, 139, 0.58);
  -webkit-text-stroke: 1px black;
}
.filter button {
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  font-size: 16px;
}
.pokeInfoCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  font-family: "Pokemon Solid";
  letter-spacing: 3px;
  font-size: 13px;
  -webkit-text-stroke: 0.5px black;
}
.baseInfo {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 120px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.baseInfo h2 {
  margin-top: 20px;
  font-size: 28px;
}
.baseInfo p {
  font-size: 18px;
}
.baseInfo hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.pokemonPicture {
  margin-top: -120px;
  max-width: 400px;
}
.pokeImage {
  display: flex;
  justify-content: center;
}
.movesBox {
  max-height: 20px;
  height: 10%;
}
.abilities {
  width: 38.8%;
  margin-left: 30px;
  border-radius: 20px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.type {
  width: 38.8%;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.abilities h2 {
  margin: 10px;
  font-size: 28px;
}
.abilities hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.type hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
}
.type h2 {
  margin: 10px;
  font-size: 28px;
}
.divition1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.divition1 p {
  margin: 10px 20px;
}
.divition1 .b2 {
  color: rgb(255, 255, 255);
}
.divition2 {
  display: flex;
  justify-content: center;
}
.divition2 p {
  margin: 10px 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.divition3 {
  display: flex;
  justify-content: center;
}
.divition3 p {
  margin: 10px 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.goBackButton {
  width: 50%;
  margin-bottom: -70px;
}
.goBack {
  background-color: transparent;
  border: none;
}
.imageBack {
  width: 100px;
  cursor: pointer;
}
.imageBack:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.superiorPages {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -10px;
}
.pagination {
  display: flex;
}
.pagination button {
  font-family: "Pokemon Solid";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  margin: 5px 10px;
  width: 35px;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
  height: 35px;
}
.pagination input {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  width: 50px;
  border-radius: 10px;
  border: solid 1px;
  background-color: #d20fbb;
  color: white;
}
.pagination p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.homeFooter {
  position: relative;
}
.footer img {
  width: 3%;
  position: absolute;
  bottom: 30px;
}
.footer-img {
  display: flex;
}
.footer-img-item {
  margin-right: 3.5vw;
  margin-left: 3.5vw;
}
.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.inputSelector {
  display: flex;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 20px;
  justify-content: center;
}
.alert {
  margin-top: -60px;
  width: 50%;
}
.principalCardFilter {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagesSuperior {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 80px;
  margin-top: -10px;
}
.pagesInferior {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -80px;
}
.removeFilter button {
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 40px;
  height: 35px;
}
.removeFilterText {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 0.5px black;
  line-height: 1.6;
}
.moves {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(11, 2, 58);
  border: 4px solid rgba(255, 225, 225, 0.5);
  filter: drop-shadow(5px 5px 4px #fff);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.pokeMoves hr {
  background-color: rgba(255, 225, 225, 0.5);
  height: 5px;
  border: none;
  margin-bottom: 10px;
}
.movesContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.pokeMoves h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
}
.pokeMoves p {
  font-size: 18px;
}
button {
  background-color: #332626;
  margin: 10px;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  transition: all 0.25s;
}
.bgMove {
  margin: 10px;
  padding: 5px 15px 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  line-height: 1;
}
.bgMove:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 8px;
}
.pageButton.active {
  background-color: #006699;
  color: #fff;
}
.typeSelector {
  display: block;
  font-size: 16px;
  color: #444; /* LETRAS */
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 300px;
  max-width: 100%;
  text-transform: uppercase;
}

@media (max-width: 668px) {
  .divition2 {
    display: block;
  }
  .divition2 p {
    margin: 10px 10px;
    font-size: 14px;
  }
  .divition3 p {
    margin: 10px 10px;
    font-size: 14px;
  }
  .pokemonPicture {
    margin-top: -120px;
    max-width: 300px;
  }
  .footer div {
    gap: 6%;
    bottom: 30px;
    left: 0;
  }
  .footer img {
    width: 7%;
  }
  .home {
    margin-top: 100px;
  }
  .home h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .home p {
    font-size: 17px;
    margin-top: -30px;
  }
  .alert {
    margin-top: -60px;
    width: 50%;
  }
  .form input {
    width: 35%;
    height: 20px;
    padding: 0px 0px 5px 15px;
    font-size: 12px;
  }
  .form button {
    height: 80px;
    width: 35px;
  }
  .Pokedex {
    width: 50%;
    margin-bottom: 30px;
  }
  .TeamRocket {
    width: 35%;
  }
  .Wobbuffet {
    width: 23%;
    margin-top: 10px;
    margin-left: -40px;
  }
  .Weezing {
    width: 25%;
    margin-top: -40px;
    margin-left: 20px;
  }
  .Arbok {
    width: 20%;
    margin-left: 20px;
  }
  .header h3 {
    font-size: 10px;
    -webkit-text-stroke: 0.5px black;
  }
  .pagination button {
    margin: 5px 5px;
    width: 15px;
    border-radius: 8px;
    height: 25px;
    font-size: 8px;
  }
  .NavBar .pinRocket {
    width: 40px;
    margin-left: 15px;
  }
  .imageBack {
    width: 60px;
  }
  li * {
    display: block;
    margin-right: 20px;
    padding-top: 20px;
    height: 35px;
    width: 40px;
  }
  .buttonGo {
    margin-left: 41%;
  }
  .homeTeamRocket {
    position: absolute;
    top: 40%;
    transform: translateY(40%);
  }
  .header img {
    width: 35%;
    padding-top: 1px;
    margin-bottom: -20px;
  }
}
